<div class="col-md-6 offset-md-3">
  <h1>Register Your Phone Number</h1>
  <%= form_for @developer  do |f| %>

    <div class="form-group">
      <%= f.label :phone_number%><br />
      <%= f.text_area :phone_number, placeholder: "+4412345678", id: "phone_numbers", class: "form-control" %>
    </div>

    <%= f.submit "Register", class: "cta"%>
  <% end %>
</div>
